<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
<title>Top Page</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
 </head>
 <body>
<div th:include="header :: data"></div>
<div class="container">
 <form action="#" th:action="@{/calendar}" th:object="${formModel}" method="post">
 <div class="row">
 <input type="submit" value="登録" class="offset-md-11 pull-right btn btn-primary mb-3"> 
 </div>
 <table class="table table-hover">
 <thead class="thead-dark">
<tr><th>日付</th><th>曜日</th><th>出社予定時間</th><th>退社予定時間</th><th>出社時間</th><th>退社時間</th><th>残業時間</th><th>勤務時間</th></tr>
</thead>
<tbody>
<tr th:each="obj,obj2:${datalist}">
<td th:text="${obj.day}"></td>
<td th:text="${obj.week}"></td>
<td class="text-center"><input type="text" th:name="|scheStartTime[${obj2.count}]|" th:value="${obj.getScheStartTime()}" size="4" maxlength="4"></td>
<td class="text-center"><input type="text" th:name="|scheEndTime[${obj2.count}]|" th:value="${obj.getScheEndTime()}" size="4" maxlength="4"></td>
<td th:text="${obj.startTime}"></td>
<td th:text="${obj.endTime}"></td>
<td th:text="${obj.time}"></td>
<td th:text="${obj.sumTime}"></td>
</tr>
</tbody>
</table>
</form>
</div>
</body>
</html>
