<div th:fragment="data">
<header class="navbar navbar-fixed-top bg-dark mb-4">
  <div class="container">
 <a href="/" th:text="#{content.title}" class="text-light" style="font-size:1.8rem;">Hello page</a>
 <ul class="navbar list-inline" style="height:1rem;">
 <li class="list-inline-item"><a href="/user/data">追加</a></li>
 <li class="list-inline-item"><a href="/edit/1">編集</a></li>
 <li class="list-inline-item"><a href="/find">検索</a></li>
  <li class="list-inline-item"><a href="/delete/1">削除</a></li>
    <li class="list-inline-item"><a href="/msg">メッセージ</a></li>
        <li class="list-inline-item"><a href="/login">ログイン</a></li>
 </ul> </div>
 </header>
 </div>