<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
<title>Top Page</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
 </head>
 <body>
<div th:include="header :: data"></div>
<div class="container">
<p th:text="#{content.message}"></p>
<form action="#" th:action="@{/line}" method="post">
<label for="line">偶数の数値を入力して下さい</label>
<input type="text" class="form-control" name="data">
<input type="submit" class="btn btn-block mt-3 btn-primary">
</form>
<p class="border-top pt-5">Return<p>
<p th:text="${msg}"></p>
</div>
</body>
</html>