<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
<title>Top Page</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
 </head>
 <body>
<div th:include="header :: data"></div>
<div class="container">

<table class="table">
<thead class="thead-dark"><tr><th>氏名</th><th>IDm</th><th></th></tr></thead>
<tbody th:each="obj:${datalist}">
<form action="#" th:action="@{|/calendar/${obj.id}/0|}" th:object="${formModel}" method="get">
<tr>
<td th:text="${obj.username}"></td>
<td th:text="${obj.idm}"></td>
<td><input type="submit" class="btn btn-primary" value="勤怠修正"></td>
</tr></form></tbody>
</table>
</div>
</body>
</html>
