<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
<title>Top Page</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
 </head>
 <body>
<div th:include="header :: data"></div>
<div class="container">
<table class="table">
<tr><th>ID</th><th>日時</th><th>状態</th><th>勤務時間</th></tr>
 <tr th:each="obj:${datalist}"><td th:text="${obj.id}"></td><td th:text="${obj.date}"></td><td th:text="${state}"></td><td th:text="${time}"></td></tr>
 </table>
</div>
</body>
</html>
