<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
<title>Top Page</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
 </head>
 <body>
<div th:include="header :: data"></div>
<div class="container">
<p th:text="${msg}"></p>
<table class="table tbale-hover">
<thead class="thead-dark">
<tr><th>No.</th><th>名前</th><th>IDm</th><th>日時</th><th>状態</th><th>勤務時間</th><th>総勤務時間</th></tr>
</thead>
<tbody>
 <tr th:each="obj:${datalist}">
 <td th:text="${obj.id}"></td>
 <td th:text="${name}"></td>
 <td th:text="${obj.idm}"></td>
 <td th:text="${obj.date}"></td>
  <td th:text="${obj.state}"></td>
 <td th:text="${obj.dayTime}"></td>
 <td th:text="${obj.monthTime}"></td></tr>
 </tbody>
 </table>
</div>
</body>
</html>
